/GEAREngine/GEAREngine/*.user

*.tlog

*.obj
*.pdb

*.log

*.ilk

*.exe

/GEAREngine/GEAREngine/Debug/*.manifest

/GEAREngine/GEAREngine/Debug/*.lastbuildstate

/GEAREngine/GEAREngine/Debug/*.cache

/GEAREngine/GEAREngine/Debug/*.idb

/GEAREngine/GEAREngine/Release/*.manifest
*.lastbuildstate

*.cache

*.exp

*.manifest

*.ipch
TempAndroid
Debug
Release
.metadata
.org.eclipse.jdt.core.external.folders
bin
gen
libs
obj
.settings
*.DS_Store
*.user
*.suo
*.sdf
/GUIInternal/recentProjects
*.xcworkspace
mono-2.10.9.tar.bz2
mono-2.10.9
monoForMACOS
monoinstallpath.txt
macosProj/GEAREngine/GEAREngine.xcodeproj/xcuserdata
macosProj/GEARInternal/GEARInternal.xcodeproj/xcuserdata
